# Node modules
node_modules/
frontend/node_modules/

# Environment files
.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Hardhat files
/cache/
/artifacts/

# TypeChain files
/typechain/
/typechain-types/

# Solidity coverage files
/coverage/
/coverage.json

# Front-end production build folder
frontend/build/

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*


